




/*
  ADOBE CASLON PRO
*/

@font-face {
  font-family: adobe-caslon-pro, serif;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: adobe-caslon-pro, serif;
  font-style: italic;
  font-weight: 600;
}

/*
  ARTICULAT CF
*/
