html {
    font-family: "articulat-cf";
    font-style: normal;
    font-weight: 300;
    font-size: 110%;
    line-height: 1.6;
    color: #3E3E3E;
}

* {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialised;
    box-sizing: border-box;
    
}

h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
    font-weight: 200;
   /* font-size: 2rem; */
    font-size: 8vw;
    color: #262626;
}

h2 {
    font-size: 1.7rem; 
    font-family: 'EB Garamond', serif;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: #262626;
}

p {
    font-family: "articulat-cf";
    
}

.containerParagraphText {
    margin-right: 1rem;
}

.paragraph-smaller-text {
    font-size: 0.9rem;
}

#navBar {
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navList {
    display: none;
}

.containerOfficeHeader {
    position: relative;
}

#missionScroll {
    position: absolute;
    top: 120vw;
}

img {
    width: 100%;
}

#imageHappyOfficeSmallScreen {
    opacity: 1;
    margin-bottom: 3rem;
}

#imageHappyOfficeLargeScreen {
    display: none;
}

#headerInImage {
    position: absolute;
    margin-left: 5%;
    padding-left: 5%;
    margin-right: 10%;
    padding-right: 5%;
    padding-bottom: 4vw;
    top: 5rem;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}

#companyName {
    font-size: 1.5rem;
    padding-left: 0.9rem;
    width: 20%;
    display: flex;
    align-items: stretch;
    color: #262626;
}

#companyName span {
    display: flex;
    align-items: center;
}

#companyNameCoCo {
    font-weight: 700;
    font-style: normal;
}

.containerSection {
    width: 80%;
    margin: auto;
}

.pinkBorder {
    padding-top: 0.4rem;
    border-top: #FFE3F0 3px solid;
    border-left: #FFE3F0 3px solid;

    margin-left: -0.5rem;
    padding-left: 0.4rem;
}


#introToCoco {
    padding-top: 0.6rem;
    color: #212121;
    padding-left: 0.7rem;
    padding-bottom: 0.6rem;
    padding-right: 1rem;
    background: #F8F8F8;
    font-family: "EB Garamond";
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 1.7rem;
    font-weight: 400;
    box-shadow: -2px 3px 7px #DBDBDB;
}

#callToAction1 {
    font-family: 'articulat-cf';
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 0 auto;
    width: 80%;
    height: 3rem;
    border-radius: 5rem;
    box-shadow: -1px 3px 2px #DBDBDB;
    border: none;
    color: #262626;
}

#callToAction2 {
    font-family: 'articulat-cf';
    font-weight: 300;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 70%;
    height: 3rem;
    border-radius: 5rem;
    box-shadow: -1px 3px 2px #DBDBDB;
    border: none;
    color: #262626;
}

#callToAction1, #callToAction2 {
    background-color: rgba(255,227,240, 0.4);
    background: linear-gradient(to right, rgba(255,227,240, 0.4), white, rgba(255,227,240, 0.4));
    background: -webkit-linear-gradient(to right, rgba(255,227,240, 0.4), white, rgba(255,227,240, 0.4));
    background: -moz-linear-gradient(to right, rgba(255,227,240, 0.4), white, rgba(255,227,240, 0.4));
    background: -o-linear-gradient(to right, rgba(255,227,240, 0.4), white, rgba(255,227,240, 0.4));
    background: -ms-linear-gradient(to right, rgba(255,227,240, 0.4), white, rgba(255,227,240, 0.4));
}



#callToAction1:hover, #callToAction2:hover {
    background: #FFE3F0; 
    cursor: pointer;
}



#imageManCoffeeSmiling {
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 1;
}

#imageManCoffeeSmilingWide {
    display: none;
}

.problemRow {
    display: flex;
    margin-top: 1rem;
}

.problemStatBlock {
    border: #DEDEDE 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 8.5rem;
}

.statHeader {
    font-weight: 100;
    border-bottom: #FFE3F0 3px solid;
    text-align: center;
}

.statDescr {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
}

#statBlock1 {
    font-size: 3.5rem;
    margin-top: 0.5rem;
    float: left;
}

#statBlock2 {
    font-size: 3.5rem;
    float: left;
}

#statBlock3 {
    font-size: 3.1rem;
    margin-bottom: 3rem;
}

#statHeaderBlock3 {
    padding-bottom: 0.25rem;
    padding-top: 0.3rem;
}

#imageCounselor {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.h3HeadingContainer {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
}

.h3Heading {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.2;
    float: left;
    border-bottom: #FFE3F0 3px solid;
    color: #262626
}

.ourApproachRowParagraph {
    padding-right: 1.5rem;
}


.rowPersonBio {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 0;
}

.imageAboutUsContainer {
    width: 50%;
    float: left;
}

.imageAboutUs {
    width: 100%;
}

.containerBioAboutUs {
    float: left;
    padding-left: 7%;
    width: 45%;
}

.containerBioAndTitle {
    padding-top: 0.5rem;
    margin-bottom: 0.2em;
    width: 80%;
    border-bottom: #FFE3F0 3px solid;
}

.bioName {
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3;
}

.bioTitle {
    font-weight: 100;
    font-style: normal;
}

.bioLogoContainer {
    width: 100%;
    
}

.bioLogo {
    height: 1rem;
    width: auto;
    padding: 0 0 0 0;
    margin-top: 0.8rem;
    opacity: 0.7;
}

#logoKellogg {
    height: 0.7rem;
    margin-left: 1px;
    margin-bottom: -0.1em;
}

#logoNUMed, #logoUCLA {
    opacity: 0.6;
}

#noteSeparateHeading {
    margin-top: 2rem;
}

#noteFromFoundersSection {
    margin-left: 10%;
    margin-right: 10%;
}

#noteFromFounders {
    margin-top: 1.1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    background: #F8F8F8;
    color: #212121;
    font-family: "EB Garamond";
    font-size: 1.1rem;
    font-style: italic;
    box-shadow: -2px 3px 7px #E0E0E0;
}

#topSectionNote {
    display: block;
    padding: 0.5rem 1.4rem 0.5rem 1rem;

}

#pleaseWriteToUs {
    display: block;
    text-align: right;
    padding-right: 7%;
    padding-left: 30%;
}



#footer {
    margin-top: 3rem;
    display: flex;
    background-color: #F8F8F8;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    clear: both;
    height: 10rem;
    padding-bottom: 0.5rem;
}

#footer > a {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-bottom: 2px solid #E0E0E0;
    font-weight: 300;
}

#footer > a:hover {
    background-color: #FFE3F0; 
    border-color: #F8F8F8;
    cursor: pointer;
    
}

#footer > div {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;
    font-size: 0.9rem;
    align-items: center;
    
}

#footerEmail {

    color: #793232;
}

/* for iphone5 and other thin phones */
@media only screen and (max-width: 350px) {

    .bioLogo {
        height: 0.8rem;
    }

    #logoKellogg {
        height: 0.6rem;
    }
}

