
html {
    font-family: "articulat-cf";
    font-style: normal;
    font-weight: 300;
    font-size: 120%;
    line-height: 1.6;
}

* {
    margin: 0 0 0 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}


body {
    margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
    font-weight: 200;
   /* font-size: 2rem; */
    font-size: 8vw;
}

h2 {
    font-size: 1.7rem; 
    font-family: "adobe-caslon-pro";
    line-height: 1.3;
    margin-bottom: 1rem;
}

p {
    font-family: "articulat-cf";
    
}

.containerParagraphText {
    margin-right: 1rem;
}

.paragraph-smaller-text {
    font-size: 0.9rem;
}

#navBar {

}

#navList {
    display: none;
}

#containerOfficeHeader {
    position: relative;
}

img {
    width: 100%;
}

#imageHappyOfficeSmallScreen {
    opacity: 0.8;
    margin-bottom: 3rem;
}

#imageHappyOfficeLargeScreen {
    display: none;
}

#headerInImage {
    position: absolute;
    margin-left: 5%;
    padding-left: 5%;
    margin-right: 10%;
    padding-right: 5%;
    padding-bottom: 4vw;
    top: 5rem;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
}

#companyName {
    font-size: 1.5rem;
    padding-left: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    
}

#companyNameCoCo {
    font-weight: 700;
    font-style: normal;
}

.containerSection {
    width: 80%;
    margin: auto;
}

.pinkBorder {
    padding-top: 0.4rem;
    border-top: #FFE3F0 3px solid;
    border-left: #FFE3F0 3px solid;
    margin-left: -0.5rem;
    padding-left: 0.4rem;
}


#introToCoco {
    padding-top: 0.6rem;
    padding-left: 0.7rem;
    padding-bottom: 0.6rem;
    padding-right: 1rem;
    background: #F0F0F0;
    font-family: "adobe-caslon-pro";
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 1.7rem;
    font-weight: 600;
}

#imageManCoffeeSmiling {
    margin-top: 3rem;
    margin-bottom: 3rem;
    opacity: 0.9;
}

.problemRow {
    display: flex;
    width: 75%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: 12%;
}

.problemStatBlock {
    border: #DEDEDE 1px solid
}

.statHeader {
    font-weight: 100;
    border-bottom: #FFE3F0 3px solid;
    text-align: center;
}

.statDescr {
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    text-align: center;
}

#statBlock1 {
    font-size: 3.5rem;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 8.5rem;
    float: left;
}

#statBlock2 {
    font-size: 3.5rem;
    margin: auto;
    width: 8.5rem;
    float: left;
}

#statBlock3 {
    font-size: 3.1rem;
    margin: auto;
    width: 8.5rem;
    margin-bottom: 3rem;
}

#statHeaderBlock3 {
    padding-bottom: 0.1rem;
}

#imageCounselor {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.h3HeadingContainer {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 0.5em;
}

.h3Heading {
    font-family: "adobe-caslon-pro";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.2;
    float: left;
    border-bottom: #FFE3F0 3px solid;
}

.ourApproachRowParagraph {
    padding-right: 1.5rem;
}

.aboutUsContainer {
    margin-top: 2rem;
}

.rowPersonBio {
    width: 80%;
    margin: auto;
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 0;
}

.imageAboutUsContainer {
    width: 55%;
    float: left;
}

.imageAboutUs {
    width: 100%;
}

.containerBioAboutUs {
    float: left;
    padding-left: 4vw;
    width: 45%;
}

.containerBioAndTitle {
    padding-top: 0.5rem;
    margin-bottom: 0.2em;
    width: 80%;
    border-bottom: #FFE3F0 3px solid;
}


.bioName {
    font-family: "adobe-caslon-pro";
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.3;
}

.bioTitle {
    font-weight: 100;
    font-style: normal;
}



.bioLogoContainer {
    
    width: 100%;
    
}

.bioLogo {
    height: 1rem;
    width: auto;
    padding: 0 0 0 0;
    margin-top: 0.8rem;
    opacity: 0.7;
}

#logoKellogg {
    height: 0.7rem;
    margin-left: 1px;
    margin-bottom: -0.1em;
}

#logoNUMed, #logoUCLA {
    opacity: 0.6;
}

#noteFromFoundersSection {
    width: 80%;
    margin: auto;
}

#noteFromFounders {
    margin-top: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    
    background: #F0F0F0;
    font-family: "adobe-caslon-pro";
    font-style: italic;
    font-size: 1rem;
}

#topSectionNote {
    display: block;
    padding-right: 1.4rem;
    padding-left: 1rem;
}

#pleaseWriteToUs {
    display: block;
    text-align: right;
    padding-right: 7%;
    padding-left: 30%;
}

#pinkHighlightWrite {
    text-decoration: none;
    color: black;
    background: #FFE3F0;
    font-weight: 800;
}

/* for iphone5 and other thin phones */
@media only screen and (max-width: 350px) {

    html {
        font-size: 110%;
    }



    .bioLogo {
        height: 0.8rem;
    }

    #logoKellogg {
        height: 0.6rem;
    }
}

